@function multiple-box-shadow($n) {
  $value: "#{random(700)}rem #{random(700)}rem #FFF";
  @for $i from 2 through $n {
    $value: "#{$value} , #{random(700)}rem #{random(700)}rem #FFF";
  }
  @return unquote($value);
}

$shadows-small: multiple-box-shadow(3000);
$shadows-medium: multiple-box-shadow(2000);
$shadows-big: multiple-box-shadow(1000);

html {
  height: 100vh;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
}

.stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: $shadows-small;
  animation: animStar 650s linear infinite;
  &:after {
    content: " ";
    position: absolute;
    top: 700rem;
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: $shadows-small;
  }
}

.stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: $shadows-medium;
  animation: animStar 700s linear infinite;

  &:after {
    content: " ";
    position: absolute;
    top: 700rem;
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: $shadows-medium;
  }
}

.stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: $shadows-big;
  animation: animStar 750s linear infinite;

  &:after {
    content: " ";
    position: absolute;
    top: 700rem;
    width: 3px;
    height: 3px;
    background: transparent;
    box-shadow: $shadows-big;
  }
}

@keyframes animStar {
  from {
    transform: translateY(-700rem);
  }
  to {
    transform: translateY(0);
  }
}
