div[role="button"] {
  padding: 0.5rem 1rem;
}

div[role="link"]:focus div {
  overflow: hidden;
}

::-webkit-scrollbar { 
  display: none !important;
}

@function multiple-box-shadow($n) {
  $value: "#{random(700)}vh #{random(100)}vh #FFF";
  @for $i from 2 through $n {
    $value: "#{$value} , #{random(700)}vh #{random(100)}vh #FFF";
  }
  @return unquote($value);
}

$shadows-small: multiple-box-shadow(700);
$shadows-medium: multiple-box-shadow(200);
$shadows-big: multiple-box-shadow(100);

.stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: $shadows-small;
  animation: animStar 100s linear infinite;
  &:after {
    content: " ";
    position: absolute;
    top: 100vh;
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: $shadows-small;
  }
}

.stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: $shadows-medium;
  animation: animStar 150s linear infinite;

  &:after {
    content: " ";
    position: absolute;
    top: 100vh;
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: $shadows-medium;
  }
}

.stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: $shadows-big;
  animation: animStar 200s linear infinite;

  &:after {
    content: " ";
    position: absolute;
    top: 100vh;
    width: 3px;
    height: 3px;
    background: transparent;
    box-shadow: $shadows-big;
  }
}

@keyframes animStar {
  from {
    transform: translateY(-100vh);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes openMenu {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes closeMenu {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
